body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.m-16 {
  margin: 16px;
}

.card-wrap {
  display: inline-block;
  width: 50%;
}

.card {
  border-radius: 16px;
  padding: 16px;
  background: #cecdcd;
}

.title {
  color: #1a1a1a;
  font-weight: 700;
  font-size: large;
}

.description {
  color: #1a1a1a;
  font-weight: 400;
  font-size: medium;
}

.price {
  color: #1a1a1a;
  font-weight: 800;
  font-size: large;
}

.page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: #213547;
}
